[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.yewrepo.myparcels
Exec=/usr/bin/ru.yewrepo.myparcels
Name=MyParcels
Name[ru]=Мои Посылки

[X-Application]
Permissions=Internet
OrganizationName=ru.yewrepo
ApplicationName=myparcels
ExecDBus=/usr/bin/ru.yewrepo.myparcels
